<div class="col">
  <a href="{{carving.url}}" class="card shadow-sm">
    <img alt="thumbnail of carving {{carving.id | remove: '/carvings/'}}" class="card-img-top img-cover" src="img/{{carving.images[0]}}"/>
    <!-- <div class="card-body"> -->
      <!-- <p class="card-text">{{carving.material}}{% if carving.material and carving.dimensions %} / {% endif %}{{carving.dimensions}}</p> -->
      <!-- <div class="d-flex justify-content-between align-items-center"> -->
      <!-- </div> -->
    <!-- </div> -->
  </a>
</div>
