---
layout: default
title: Carving
---

<h1 class="text-center mt-5">{{page.id | remove: "/carvings/"}}</h1>
<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 align-items-start">
      {% for image in page.images %}
        <img src="/img/{{image}}"></img>
      {% endfor %}
    </div>
    <h2 class="mt-3">Details</h2>
    <dl class="row">
      {% if page.dimensions %}
      <dt class="col-sm-3">Dimensions</dt>
      <dd class="col-sm-9">{{page.dimensions}}</dd>
      {% endif %}

      {% if page.material %}
      <dt class="col-sm-3">Materials</dt>
      <dd class="col-sm-9">{{page.material}}</dd>
      {% endif %}

      {% if page.date_created %}
      <dt class="col-sm-3">Date</dt>
      <dd class="col-sm-9">{{page.date_created}}</dd>
      {% endif %}

      {% if page.locations %}
      <dt class="col-sm-3">Locations</dt>
      <dd class="col-sm-9">{% for location in page.locations %}{{location}}<br/>{% endfor %}</dd>
      {% endif %}

      {% if page.context %}
      <dt class="col-sm-3">Context of Creation</dt>
      <dd class="col-sm-9">{{page.context}}</dd>
      {% endif %}

      <dt class="col-sm-3">Availability</dt>
      <dd class="col-sm-9">Currently {% if page.available %}available{% else %}unavailable{% endif %}</dd>
    </dl>
  </div>
</div>
